<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :costinusd %><br>
    <%= f.text_field :costinusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :aacostpts, "American Airlines cost in points" %><br>
    <%= f.number_field :aacostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :aacostusd, "American cash copay" %><br>
    <%= f.text_field :aacostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :bacostpts, "British Airways (BA) cost in points" %><br>
    <%= f.number_field :bacostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :bacostusd, "British Airways (BA) cash copay" %><br>
    <%= f.text_field :bacostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :uacostpts, "United cost in points" %><br>
    <%= f.number_field :uacostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :uacostusd, "United cash copay" %><br>
    <%= f.text_field :uacostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :dlcostpts, "Delta cost in points" %><br>
    <%= f.number_field :dlcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :dlcostusd, "Delta cash copay" %><br>
    <%= f.text_field :dlcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ascostpts, "Alaska cost in points" %><br>
    <%= f.number_field :ascostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ascostusd, "Alaska cash copay" %><br>
    <%= f.text_field :ascostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nkcostpts, "Spirit cost in points" %><br>
    <%= f.number_field :nkcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nkcostusd, "Spirit cash copay" %><br>
    <%= f.text_field :nkcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sqcostpts, "Singapore cost in points" %><br>
    <%= f.number_field :sqcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sqcostusd, "Singapore cash copay" %><br>
    <%= f.text_field :sqcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lacostpts, "LAN cost in points" %><br>
    <%= f.number_field :lacostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lacostusd, "LAN cash copay" %><br>
    <%= f.text_field :lacostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :accostpts %><br>
    <%= f.number_field :accostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :accostusd %><br>
    <%= f.text_field :accostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cxcostpts, "Cathay Pacific cost in points" %><br>
    <%= f.number_field :cxcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cxcostusd, "Cathay Pacific cash copay" %><br>
    <%= f.text_field :cxcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :brcostpts %><br>
    <%= f.number_field :brcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :brcostusd %><br>
    <%= f.text_field :brcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :eycostpts %><br>
    <%= f.number_field :eycostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :eycostusd %><br>
    <%= f.text_field :eycostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :afcostpts, "Flying Blue (Air France/KLM) cost in points" %><br>
    <%= f.number_field :afcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :afcostusd, "Flying Blue (Air France/KLM) cash copay" %><br>
    <%= f.text_field :afcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :gacostpts %><br>
    <%= f.number_field :gacostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :gacostusd %><br>
    <%= f.text_field :gacostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :mhcostpts %><br>
    <%= f.number_field :mhcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :mhcostusd %><br>
    <%= f.text_field :mhcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :qfcostpts %><br>
    <%= f.number_field :qfcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :qfcostusd %><br>
    <%= f.text_field :qfcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :qrcostpts %><br>
    <%= f.number_field :qrcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :qrcostusd %><br>
    <%= f.text_field :qrcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tgcostpts %><br>
    <%= f.number_field :tgcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tgcostusd %><br>
    <%= f.text_field :tgcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :vscostpts %><br>
    <%= f.number_field :vscostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :vscostusd %><br>
    <%= f.text_field :vscostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :azcostpts %><br>
    <%= f.number_field :azcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :azcostusd %><br>
    <%= f.text_field :azcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nhcostpts %><br>
    <%= f.number_field :nhcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nhcostusd %><br>
    <%= f.text_field :nhcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :amcostpts, "AeroMexico cost in points" %><br>
    <%= f.number_field :amcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :amcostusd, "AeroMexico cash copay" %><br>
    <%= f.text_field :amcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lycostpts, "El Al cost in points" %><br>
    <%= f.number_field :lycostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lycostusd, "El Al cash copay" %><br>
    <%= f.text_field :lycostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :hacostpts, "Hawaiian cost in points" %><br>
    <%= f.number_field :hacostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :hacostusd, "Hawaiian cash copay" %><br>
    <%= f.text_field :hacostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ibcostpts, "Iberia cost in points" %><br>
    <%= f.number_field :ibcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ibcostusd, "Iberia cash copay" %><br>
    <%= f.text_field :ibcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :vxcostpts %><br>
    <%= f.number_field :vxcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :vxcostusd %><br>
    <%= f.text_field :vxcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :abcostpts %><br>
    <%= f.number_field :abcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :abcostusd %><br>
    <%= f.text_field :abcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cacostpts %><br>
    <%= f.number_field :cacostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cacostusd %><br>
    <%= f.text_field :cacostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nzcostpts, "New Zealand cost in points" %><br>
    <%= f.number_field :nzcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nzcostusd, "New Zealand cash copay" %><br>
    <%= f.text_field :nzcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ozcostpts, "Asiana cost in points" %><br>
    <%= f.number_field :ozcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ozcostusd, "Asiana cash copay" %><br>
    <%= f.text_field :ozcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :mucostpts %><br>
    <%= f.number_field :mucostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :mucostusd %><br>
    <%= f.text_field :mucostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :czcostpts %><br>
    <%= f.number_field :czcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :czcostusd %><br>
    <%= f.text_field :czcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ekcostpts %><br>
    <%= f.number_field :ekcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ekcostusd %><br>
    <%= f.text_field :ekcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :g3costpts, "GOL cost in points" %><br>
    <%= f.number_field :g3costpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :g3costusd, "GOL cash copay" %><br>
    <%= f.text_field :g3costusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :hucostpts %><br>
    <%= f.number_field :hucostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :hucostusd %><br>
    <%= f.text_field :hucostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :jlcostpts, "JAL cost in points" %><br>
    <%= f.number_field :jlcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :jlcostusd, "JAL cash copay" %><br>
    <%= f.text_field :jlcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lhcostpts, "Lufthansa cost in points" %><br>
    <%= f.number_field :lhcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lhcostusd, "Lufthansa cash copay" %><br>
    <%= f.text_field :lhcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :svcostpts %><br>
    <%= f.number_field :svcostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :svcostusd %><br>
    <%= f.text_field :svcostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :vacostpts %><br>
    <%= f.number_field :vacostpts, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :vacostusd %><br>
    <%= f.text_field :vacostusd, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
