<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Costinusd:</strong>
  <%= @trip.costinusd %>
</p>

<p>
  <strong>Aacostpts:</strong>
  <%= @trip.aacostpts %>
</p>

<p>
  <strong>Aacostusd:</strong>
  <%= @trip.aacostusd %>
</p>

<p>
  <strong>Bacostpts:</strong>
  <%= @trip.bacostpts %>
</p>

<p>
  <strong>Bacostusd:</strong>
  <%= @trip.bacostusd %>
</p>

<p>
  <strong>Uacostpts:</strong>
  <%= @trip.uacostpts %>
</p>

<p>
  <strong>Uacostusd:</strong>
  <%= @trip.uacostusd %>
</p>

<p>
  <strong>Dlcostpts:</strong>
  <%= @trip.dlcostpts %>
</p>

<p>
  <strong>Dlcostusd:</strong>
  <%= @trip.dlcostusd %>
</p>

<p>
  <strong>Ascostpts:</strong>
  <%= @trip.ascostpts %>
</p>

<p>
  <strong>Ascostusd:</strong>
  <%= @trip.ascostusd %>
</p>

<p>
  <strong>Nkcostpts:</strong>
  <%= @trip.nkcostpts %>
</p>

<p>
  <strong>Nkcostusd:</strong>
  <%= @trip.nkcostusd %>
</p>

<p>
  <strong>Sqcostpts:</strong>
  <%= @trip.sqcostpts %>
</p>

<p>
  <strong>Sqcostusd:</strong>
  <%= @trip.sqcostusd %>
</p>

<p>
  <strong>Lacostpts:</strong>
  <%= @trip.lacostpts %>
</p>

<p>
  <strong>Lacostusd:</strong>
  <%= @trip.lacostusd %>
</p>

<p>
  <strong>Accostpts:</strong>
  <%= @trip.accostpts %>
</p>

<p>
  <strong>Accostusd:</strong>
  <%= @trip.accostusd %>
</p>

<p>
  <strong>Cxcostpts:</strong>
  <%= @trip.cxcostpts %>
</p>

<p>
  <strong>Cxcostusd:</strong>
  <%= @trip.cxcostusd %>
</p>

<p>
  <strong>Brcostpts:</strong>
  <%= @trip.brcostpts %>
</p>

<p>
  <strong>Brcostusd:</strong>
  <%= @trip.brcostusd %>
</p>

<p>
  <strong>Eycostpts:</strong>
  <%= @trip.eycostpts %>
</p>

<p>
  <strong>Eycostusd:</strong>
  <%= @trip.eycostusd %>
</p>

<p>
  <strong>Afcostpts:</strong>
  <%= @trip.afcostpts %>
</p>

<p>
  <strong>Afcostusd:</strong>
  <%= @trip.afcostusd %>
</p>

<p>
  <strong>Gacostpts:</strong>
  <%= @trip.gacostpts %>
</p>

<p>
  <strong>Gacostusd:</strong>
  <%= @trip.gacostusd %>
</p>

<p>
  <strong>Mhcostpts:</strong>
  <%= @trip.mhcostpts %>
</p>

<p>
  <strong>Mhcostusd:</strong>
  <%= @trip.mhcostusd %>
</p>

<p>
  <strong>Qfcostpts:</strong>
  <%= @trip.qfcostpts %>
</p>

<p>
  <strong>Qfcostusd:</strong>
  <%= @trip.qfcostusd %>
</p>

<p>
  <strong>Qrcostpts:</strong>
  <%= @trip.qrcostpts %>
</p>

<p>
  <strong>Qrcostusd:</strong>
  <%= @trip.qrcostusd %>
</p>

<p>
  <strong>Tgcostpts:</strong>
  <%= @trip.tgcostpts %>
</p>

<p>
  <strong>Tgcostusd:</strong>
  <%= @trip.tgcostusd %>
</p>

<p>
  <strong>Vscostpts:</strong>
  <%= @trip.vscostpts %>
</p>

<p>
  <strong>Vscostusd:</strong>
  <%= @trip.vscostusd %>
</p>

<p>
  <strong>Azcostpts:</strong>
  <%= @trip.azcostpts %>
</p>

<p>
  <strong>Azcostusd:</strong>
  <%= @trip.azcostusd %>
</p>

<p>
  <strong>Nhcostpts:</strong>
  <%= @trip.nhcostpts %>
</p>

<p>
  <strong>Nhcostusd:</strong>
  <%= @trip.nhcostusd %>
</p>

<p>
  <strong>Amcostpts:</strong>
  <%= @trip.amcostpts %>
</p>

<p>
  <strong>Amcostusd:</strong>
  <%= @trip.amcostusd %>
</p>

<p>
  <strong>Lycostpts:</strong>
  <%= @trip.lycostpts %>
</p>

<p>
  <strong>Lycostusd:</strong>
  <%= @trip.lycostusd %>
</p>

<p>
  <strong>Hacostpts:</strong>
  <%= @trip.hacostpts %>
</p>

<p>
  <strong>Hacostusd:</strong>
  <%= @trip.hacostusd %>
</p>

<p>
  <strong>Ibcostpts:</strong>
  <%= @trip.ibcostpts %>
</p>

<p>
  <strong>Ibcostusd:</strong>
  <%= @trip.ibcostusd %>
</p>

<p>
  <strong>Vxcostpts:</strong>
  <%= @trip.vxcostpts %>
</p>

<p>
  <strong>Vxcostusd:</strong>
  <%= @trip.vxcostusd %>
</p>

<p>
  <strong>Abcostpts:</strong>
  <%= @trip.abcostpts %>
</p>

<p>
  <strong>Abcostusd:</strong>
  <%= @trip.abcostusd %>
</p>

<p>
  <strong>Cacostpts:</strong>
  <%= @trip.cacostpts %>
</p>

<p>
  <strong>Cacostusd:</strong>
  <%= @trip.cacostusd %>
</p>

<p>
  <strong>Nzcostpts:</strong>
  <%= @trip.nzcostpts %>
</p>

<p>
  <strong>Nzcostusd:</strong>
  <%= @trip.nzcostusd %>
</p>

<p>
  <strong>Ozcostpts:</strong>
  <%= @trip.ozcostpts %>
</p>

<p>
  <strong>Ozcostusd:</strong>
  <%= @trip.ozcostusd %>
</p>

<p>
  <strong>Mucostpts:</strong>
  <%= @trip.mucostpts %>
</p>

<p>
  <strong>Mucostusd:</strong>
  <%= @trip.mucostusd %>
</p>

<p>
  <strong>Czcostpts:</strong>
  <%= @trip.czcostpts %>
</p>

<p>
  <strong>Czcostusd:</strong>
  <%= @trip.czcostusd %>
</p>

<p>
  <strong>Ekcostpts:</strong>
  <%= @trip.ekcostpts %>
</p>

<p>
  <strong>Ekcostusd:</strong>
  <%= @trip.ekcostusd %>
</p>

<p>
  <strong>G3costpts:</strong>
  <%= @trip.g3costpts %>
</p>

<p>
  <strong>G3costusd:</strong>
  <%= @trip.g3costusd %>
</p>

<p>
  <strong>Hucostpts:</strong>
  <%= @trip.hucostpts %>
</p>

<p>
  <strong>Hucostusd:</strong>
  <%= @trip.hucostusd %>
</p>

<p>
  <strong>Jlcostpts:</strong>
  <%= @trip.jlcostpts %>
</p>

<p>
  <strong>Jlcostusd:</strong>
  <%= @trip.jlcostusd %>
</p>

<p>
  <strong>Lhcostpts:</strong>
  <%= @trip.lhcostpts %>
</p>

<p>
  <strong>Lhcostusd:</strong>
  <%= @trip.lhcostusd %>
</p>

<p>
  <strong>Svcostpts:</strong>
  <%= @trip.svcostpts %>
</p>

<p>
  <strong>Svcostusd:</strong>
  <%= @trip.svcostusd %>
</p>

<p>
  <strong>Vacostpts:</strong>
  <%= @trip.vacostpts %>
</p>

<p>
  <strong>Vacostusd:</strong>
  <%= @trip.vacostusd %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip), class: 'btn btn-primary' %> |
<%= link_to 'Back', trips_path, class: 'btn btn-primary' %>
