<%= form_for(@history) do |f| %>
  <% if @history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@history.errors.count, "error") %> prohibited this history from being saved:</h2>

      <ul>
      <% @history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :application_date_and_time %><br>
    <%= f.date_select :application_date_and_time %>
  </div>
  <div class="field">
    <%= f.label :card_id %><br>
    <%= f.number_field :card_id %>
  </div>
  <div class="field">
    <%= f.label :approved %><br>
    <%= f.check_box :approved %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :closed %><br>
    <%= f.date_select :closed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
