<p id="notice"><%= notice %></p>
<h1>Credit card recommendations for <%= @result.name %></h1>

<table class="tablesaw table table-hover" data-tablesaw-mode="columntoggle" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap>
    <thead>
        <tr>
            <th scope="col" data-tablesaw-priority="persist">Name</th>
            <th scope="col" data-tablesaw-priority="6">By</th>
            <th scope="col" data-tablesaw-priority="1" data-tablesaw-sortable-col data-sortable-numeric>Percent of points required</th>
            <th scope="col" data-tablesaw-priority="2">Airline issuing ticket</th>
            <th scope="col" data-tablesaw-priority="3">Points to be earned</th>
            <th scope="col" data-tablesaw-priority="3">Points in program after transfer</th>
            <th scope="col" data-tablesaw-priority="3" data-tablesaw-sortable-col data-sortable-numeric>Points cost</th>
            <th scope="col" data-tablesaw-priority="2" data-tablesaw-sortable-col data-sortable-numeric>Cash copay</th>
            <th scope="col" data-tablesaw-priority="6">Includes transfer bonus?</th>
            <th scope="col" data-tablesaw-priority="5">Transfer notes</th>
            <th scope="col" data-tablesaw-priority="4">Credit card notes</th>
            <th scope="col" data-tablesaw-priority="2" data-tablesaw-sortable-col data-sortable-numeric>Annual fee</th>
            <th scope="col" data-tablesaw-priority="3">Waived first year?</th>
            <th scope="col" data-tablesaw-priority="1">Application</th>
            <th scope="col" data-tablesaw-priority="2" data-tablesaw-sortable-col data-sortable-numeric>Value of points</th>
            <th scope="col" data-tablesaw-priority="2" data-tablesaw-sortable-col data-sortable-numeric>CPM value</th>
            <!-- Total value of points for this redemption (cost of airfare - annual fee - copay) * percentage-->
            <!-- CPM value -->
        </tr>
    </thead>
    
    <tbody>
    <% @result.arrayofcards.each do |array_a| %>
        <tr>
        <%
        total_percentage = array_a["total_percentage"]
        total_annual_fees = array_a["total_annual_fees"]
        
        #binding.pry
        %>
        
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <% #binding.pry
                %>
                <%=
                unless a["card"].id.nil?
                    if index == 0
                        '<br><br>'.html_safe + 
                        (link_to a["card"].name, creditcard_path(a["card"]), class: 'btn btn-info')
                    else
                        '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                        (link_to a["card"].name, creditcard_path(a["card"]), class: 'btn btn-info')
                    end
                else
                    if index == 0
                        '<br><br>'.html_safe +
                        (link_to a["card"].name, balances_path, class: 'btn btn-info')
                    else
                        '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                        (link_to a["card"].name, balances_path, class: 'btn btn-info')
                    end
                end
                %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<br><br>'.html_safe + 
                    a["card"].issuer
                
                    #bugger
                else
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    a["card"].issuer
                end %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<b>'.html_safe + sprintf("%.0f", total_percentage) + '%</b><br>=<br>'.html_safe + sprintf("%.0f", a["percentage"]) + "%"
                
                    #blah
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    sprintf("%.0f", a["percentage"]) + "%"
                end %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<br><br>'.html_safe + 
                    a["points_program"]
                
                    #blah
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    a["points_program"]
                end %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<br><br>'.html_safe + 
                    sprintf("%.0f", if a["total_bonus"].nil? then 0 else a["total_bonus"] end)
                
                    #blah
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    sprintf("%.0f", if a["total_bonus"].nil? then 0 else a["total_bonus"] end)
                end %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<br><br>'.html_safe + 
                    sprintf("%.0f", a["additional_points_in_program"])
                
                    #blah
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    sprintf("%.0f", a["additional_points_in_program"])
                end %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<br><br>'.html_safe +
                    sprintf("%.0f", a["miles_required"])
                
                    #blah
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe + 
                    sprintf("%.0f",a["miles_required"])
                end %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    #code
                    '<br><br>'.html_safe + "$" + sprintf("%.0f",a["copay"])
                
                    #blah
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    "$" + sprintf("%.0f",a["copay"])
                end %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<br><br>'.html_safe + 
                    if a["includes_transfer_bonus"] then "Yes" else "No" end
                
                    #blah
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    if a["includes_transfer_bonus"] then "Yes" else "No" end
                end %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<br><br>'.html_safe + 
                    a["rate"].transfernotes
                
                    #blah
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    a["rate"].transfernotes
                end %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<br><br>'.html_safe + 
                    a["card"].notes
                
                    #blah
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    a["card"].notes
                end %>
            <% end %>
            </td>
            <td>
            
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<b>$'.html_safe + sprintf("%.0f", total_annual_fees) + '</b><br>=<br>'.html_safe +
                    sprintf("%.0f", a["card"].annual_fee)
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    sprintf("%.0f", a["card"].annual_fee)
                end %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<br><br>'.html_safe + 
                    if a["card"].fee_waived_first_year then "Yes" else "No" end
                
                    #blah
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    if a["card"].fee_waived_first_year then "Yes" else "No" end
                end %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<br><br>'.html_safe +
                    (link_to 'Application', a["card"].url, class: 'btn btn-success')
                
                    #blah
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    (link_to 'Application', a["card"].url, class: 'btn btn-success')
                end %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<br><br>'.html_safe +
                    sprintf("%.0f", (@costs.costinusd * a["percentage"] / 100 - ( if a["card"].fee_waived_first_year then 0 else a["card"].annual_fee end ) - a["copay"]))
                
                    #
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    sprintf("%.0f", (@costs.costinusd * a["percentage"] / 100 - ( if a["card"].fee_waived_first_year then 0 else a["card"].annual_fee end ) - a["copay"]))
                end %>
            <% end %>
            </td>
            <td>
            <% array_a["array"].each_with_index do |a, index| %>
                <%= if index == 0
                    '<br><br>'.html_safe +
                    sprintf("%.1f", (@costs.costinusd * a["percentage"] / 100 - ( if a["card"].fee_waived_first_year then 0 else a["card"].annual_fee end ) - a["copay"]) / (a["card"].first_purchase_bonus + a["card"].spend_bonus + a["card"].spend_requirement) * a["rate"].transferratio * 100)
                
                    #
                else
                    #code with glyphicon
                    '<br /><i class="glyphicon glyphicon-plus"></i><br />'.html_safe +
                    sprintf("%.1f", (@costs.costinusd * a["percentage"] / 100 - ( if a["card"].fee_waived_first_year then 0 else a["card"].annual_fee end ) - a["copay"]) / (a["card"].first_purchase_bonus + a["card"].spend_bonus + a["card"].spend_requirement) * a["rate"].transferratio * 100)
                end %>
            <% end %>
            </td>
        <% #end
        %>
        </tr>
    <% end %>
    </tbody>
    
</table>

<%= link_to 'Back', trips_path, class: 'btn btn-primary' %>
