<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @setting.country.country_long_form %>
</p>

<p>
  <strong>Show business cards:</strong>
  <%= @setting.show_business_cards %>
</p>

<p>
  <strong>Show personal cards:</strong>
  <%= @setting.show_personal_cards %>
</p>

<p>
  <strong>Show credit cards:</strong>
  <%= @setting.show_credit_cards %>
</p>

<p>
  <strong>Show charge cards:</strong>
  <%= @setting.show_charge_cards %>
</p>

<p>
  <strong>Maximum number of cards comfortable applying for at once:</strong>
  <%= @setting.maximum_cards_comfortable_applying_for_at_once %>
</p>

<p>
  <strong>Include bonuses in calculations:</strong>
  <%= @setting.include_bonuses_in_calculations %>
</p>

<p>
  <strong>Include current point balances in calculations:</strong>
  <%= @setting.include_current_point_balances_in_calculations %>
</p>

<p>
  <strong>Include authorized user bonus:</strong>
  <%= @setting.include_authorized_user_bonus %>
</p>

<p>
  <strong>Fly on star alliance:</strong>
  <%= @setting.fly_on_star_alliance %>
</p>

<p>
  <strong>Fly on skyteam:</strong>
  <%= @setting.fly_on_skyteam %>
</p>

<p>
  <strong>Fly on oneworld:</strong>
  <%= @setting.fly_on_oneworld %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting), class: 'btn btn-primary' %> |
<%= link_to 'Back', root_path, class: 'btn btn-primary' %>
