<%= form_for(@balance) do |f| %>
  <% if @balance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@balance.errors.count, "error") %> prohibited this balance from being saved:</h2>

      <ul>
      <% @balance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :mrbalance, "Membership Rewards point balance" %><br>
    <%= f.number_field :mrbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :urbalance, "Ultimate Rewards point balance" %><br>
    <%= f.number_field :urbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tybalance, "Thank You point balance" %><br>
    <%= f.number_field :tybalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :spgbalance, "Starwood Preferred Guest (SPG) point balance" %><br>
    <%= f.number_field :spgbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :aabalance, "American Airlines point balance" %><br>
    <%= f.number_field :aabalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :babalance, "British Airways point balance" %><br>
    <%= f.number_field :babalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :uabalance, "United point balance" %><br>
    <%= f.number_field :uabalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :dlbalance, "Delta point balance" %><br>
    <%= f.number_field :dlbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :asbalance, "Alaska point balance" %><br>
    <%= f.number_field :asbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nkbalance, "Spirit point balance" %><br>
    <%= f.number_field :nkbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sqbalance, "Singapore point balance" %><br>
    <%= f.number_field :sqbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :labalance, "LAN point balance" %><br>
    <%= f.number_field :labalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :acbalance, "Air Canada point balance" %><br>
    <%= f.number_field :acbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cxbalance, "Cathay Pacific point balance" %><br>
    <%= f.number_field :cxbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :brbalance %><br>
    <%= f.number_field :brbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :eybalance %><br>
    <%= f.number_field :eybalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :afbalance, "Flying Blue point balance" %><br>
    <%= f.number_field :afbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :gabalance, "Garuda Indonesia" %><br>
    <%= f.number_field :gabalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :mhbalance, "Malaysia point balance" %><br>
    <%= f.number_field :mhbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :qfbalance %><br>
    <%= f.number_field :qfbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :qrbalance %><br>
    <%= f.number_field :qrbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tgbalance %><br>
    <%= f.number_field :tgbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :vsbalance %><br>
    <%= f.number_field :vsbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :azbalance, "Alitalia point balance" %><br>
    <%= f.number_field :azbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nhbalance, "ANA point balance" %><br>
    <%= f.number_field :nhbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ambalance, "AeroMexico point balance" %><br>
    <%= f.number_field :ambalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lybalance %><br>
    <%= f.number_field :lybalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :habalance, "Hawaiian point balance" %><br>
    <%= f.number_field :habalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ibbalance, "Iberia Avios balance" %><br>
    <%= f.number_field :ibbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :vxbalance %><br>
    <%= f.number_field :vxbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :abbalance, "Air Berlin point balance" %><br>
    <%= f.number_field :abbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cabalance %><br>
    <%= f.number_field :cabalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nzbalance, "Air New Zealand point balance" %><br>
    <%= f.number_field :nzbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ozbalance %><br>
    <%= f.number_field :ozbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :mubalance %><br>
    <%= f.number_field :mubalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :czbalance %><br>
    <%= f.number_field :czbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ekbalance %><br>
    <%= f.number_field :ekbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :g3balance %><br>
    <%= f.number_field :g3balance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :hubalance %><br>
    <%= f.number_field :hubalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :jlbalance, "JAL point balance" %><br>
    <%= f.number_field :jlbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lhbalance %><br>
    <%= f.number_field :lhbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :svbalance %><br>
    <%= f.number_field :svbalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :vabalance %><br>
    <%= f.number_field :vabalance, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
