<h1>Listing balances</h1>

<table>
  <thead>
    <tr>
      <th>MR</th>
      <th>UR</th>
      <th>SPG</th>
      <th>TY</th>
      <th>AA</th>
      <th>BA</th>
      <th>UA</th>
      <th>DL</th>
      <th>AS</th>
      <th>NK</th>
      <th>SQ</th>
      <th>LA</th>
      <th>AC</th>
      <th>CX</th>
      <th>BR</th>
      <th>EY</th>
      <th>AF</th>
      <th>GA</th>
      <th>MH</th>
      <th>QF</th>
      <th>QR</th>
      <th>TG</th>
      <th>VS</th>
      <th>AZ</th>
      <th>NH</th>
      <th>AM</th>
      <th>LY</th>
      <th>HA</th>
      <th>IB</th>
      <th>VX</th>
      <th>AB</th>
      <th>CA</th>
      <th>NZ</th>
      <th>OZ</th>
      <th>MU</th>
      <th>CZ</th>
      <th>EK</th>
      <th>G3</th>
      <th>HU</th>
      <th>JL</th>
      <th>LH</th>
      <th>SV</th>
      <th>VA</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @balances.each do |balance| %>
      <tr>
        <td><%= balance.mrbalance %></td>
        <td><%= balance.urbalance %></td>
        <td><%= balance.spgbalance %></td>
        <td><%= balance.tybalance %></td>
        <td><%= balance.aabalance %></td>
        <td><%= balance.babalance %></td>
        <td><%= balance.uabalance %></td>
        <td><%= balance.dlbalance %></td>
        <td><%= balance.asbalance %></td>
        <td><%= balance.nkbalance %></td>
        <td><%= balance.sqbalance %></td>
        <td><%= balance.labalance %></td>
        <td><%= balance.acbalance %></td>
        <td><%= balance.cxbalance %></td>
        <td><%= balance.brbalance %></td>
        <td><%= balance.eybalance %></td>
        <td><%= balance.afbalance %></td>
        <td><%= balance.gabalance %></td>
        <td><%= balance.mhbalance %></td>
        <td><%= balance.qfbalance %></td>
        <td><%= balance.qrbalance %></td>
        <td><%= balance.tgbalance %></td>
        <td><%= balance.vsbalance %></td>
        <td><%= balance.azbalance %></td>
        <td><%= balance.nhbalance %></td>
        <td><%= balance.ambalance %></td>
        <td><%= balance.lybalance %></td>
        <td><%= balance.habalance %></td>
        <td><%= balance.ibbalance %></td>
        <td><%= balance.vxbalance %></td>
        <td><%= balance.abbalance %></td>
        <td><%= balance.cabalance %></td>
        <td><%= balance.nzbalance %></td>
        <td><%= balance.ozbalance %></td>
        <td><%= balance.mubalance %></td>
        <td><%= balance.czbalance %></td>
        <td><%= balance.ekbalance %></td>
        <td><%= balance.g3balance %></td>
        <td><%= balance.hubalance %></td>
        <td><%= balance.jlbalance %></td>
        <td><%= balance.lhbalance %></td>
        <td><%= balance.svbalance %></td>
        <td><%= balance.vabalance %></td>
        <td><%= link_to 'Show', balance, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_balance_path(balance), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', balance, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Balance', new_balance_path, class: 'btn btn-primary' %>
