<p id="notice"><%= notice %></p>

<p>
  <strong>Membership Rewards point balance:</strong>
  <%= @balance.mrbalance %>
</p>

<p>
  <strong>Ultimate Rewards point balance:</strong>
  <%= @balance.urbalance %>
</p>

<p>
  <strong>SPG point balance:</strong>
  <%= @balance.spgbalance %>
</p>

<p>
  <strong>Thank You point balance:</strong>
  <%= @balance.tybalance %>
</p>

<p>
  <strong>American point balance:</strong>
  <%= @balance.aabalance %>
</p>

<p>
  <strong>BA point balance:</strong>
  <%= @balance.babalance %>
</p>

<p>
  <strong>United point balance:</strong>
  <%= @balance.uabalance %>
</p>

<p>
  <strong>Delta point balance:</strong>
  <%= @balance.dlbalance %>
</p>

<p>
  <strong>Alaska point balance:</strong>
  <%= @balance.asbalance %>
</p>

<p>
  <strong>Spirit point balance:</strong>
  <%= @balance.nkbalance %>
</p>

<p>
  <strong>Singapore point balance:</strong>
  <%= @balance.sqbalance %>
</p>

<p>
  <strong>LAN point balance:</strong>
  <%= @balance.labalance %>
</p>

<p>
  <strong>Accostpts:</strong>
  <%= @balance.acbalance %>
</p>

<p>
  <strong>Cxcostpts:</strong>
  <%= @balance.cxbalance %>
</p>

<p>
  <strong>Brcostpts:</strong>
  <%= @balance.brbalance %>
</p>

<p>
  <strong>Eycostpts:</strong>
  <%= @balance.eybalance %>
</p>

<p>
  <strong>Flying Blue point balance:</strong>
  <%= @balance.afbalance %>
</p>

<p>
  <strong>Gacostpts:</strong>
  <%= @balance.gabalance %>
</p>

<p>
  <strong>Mhcostpts:</strong>
  <%= @balance.mhbalance %>
</p>

<p>
  <strong>Qfcostpts:</strong>
  <%= @balance.qfbalance %>
</p>

<p>
  <strong>Qrcostpts:</strong>
  <%= @balance.qrbalance %>
</p>

<p>
  <strong>Tgcostpts:</strong>
  <%= @balance.tgbalance %>
</p>

<p>
  <strong>Vscostpts:</strong>
  <%= @balance.vsbalance %>
</p>

<p>
  <strong>Azcostpts:</strong>
  <%= @balance.azbalance %>
</p>

<p>
  <strong>Nhcostpts:</strong>
  <%= @balance.nhbalance %>
</p>

<p>
  <strong>Amcostpts:</strong>
  <%= @balance.ambalance %>
</p>

<p>
  <strong>Lycostpts:</strong>
  <%= @balance.lybalance %>
</p>

<p>
  <strong>Hacostpts:</strong>
  <%= @balance.habalance %>
</p>

<p>
  <strong>Ibcostpts:</strong>
  <%= @balance.ibbalance %>
</p>

<p>
  <strong>Vxcostpts:</strong>
  <%= @balance.vxbalance %>
</p>

<p>
  <strong>Air Berlin point balance:</strong>
  <%= @balance.abbalance %>
</p>

<p>
  <strong>Cacostpts:</strong>
  <%= @balance.cabalance %>
</p>

<p>
  <strong>Air New Zealand point balance:</strong>
  <%= @balance.nzbalance %>
</p>

<p>
  <strong>Ozcostpts:</strong>
  <%= @balance.ozbalance %>
</p>

<p>
  <strong>Mucostpts:</strong>
  <%= @balance.mubalance %>
</p>

<p>
  <strong>Czcostpts:</strong>
  <%= @balance.czbalance %>
</p>

<p>
  <strong>Ekcostpts:</strong>
  <%= @balance.ekbalance %>
</p>

<p>
  <strong>G3costpts:</strong>
  <%= @balance.g3balance %>
</p>

<p>
  <strong>Hucostpts:</strong>
  <%= @balance.hubalance %>
</p>

<p>
  <strong>JAL point balance:</strong>
  <%= @balance.jlbalance %>
</p>

<p>
  <strong>Lhcostpts:</strong>
  <%= @balance.lhbalance %>
</p>

<p>
  <strong>Svcostpts:</strong>
  <%= @balance.svbalance %>
</p>

<p>
  <strong>Vacostpts:</strong>
  <%= @balance.vabalance %>
</p>

<%= link_to 'Edit', edit_balance_path(@balance), class: 'btn btn-primary' %> |
<%= link_to 'Back', balances_path, class: 'btn btn-primary' %>
