<p id="notice"><%= notice %></p>

<p>
  <strong>Membership Rewards balance:</strong>
  <%= @balance.mr %>
</p>

<p>
  <strong>Ultimate Rewards balance:</strong>
  <%= @balance.ur %>
</p>

<p>
  <strong>SPG balance:</strong>
  <%= @balance.spg %>
</p>

<p>
  <strong>Thank You balance:</strong>
  <%= @balance.ty %>
</p>

<p>
  <strong>Aacostpts:</strong>
  <%= @balance.aacostpts %>
</p>

<p>
  <strong>Bacostpts:</strong>
  <%= @balance.bacostpts %>
</p>

<p>
  <strong>Uacostpts:</strong>
  <%= @balance.uacostpts %>
</p>

<p>
  <strong>Dlcostpts:</strong>
  <%= @balance.dlcostpts %>
</p>

<p>
  <strong>Ascostpts:</strong>
  <%= @balance.ascostpts %>
</p>

<p>
  <strong>Nkcostpts:</strong>
  <%= @balance.nkcostpts %>
</p>

<p>
  <strong>Sqcostpts:</strong>
  <%= @balance.sqcostpts %>
</p>

<p>
  <strong>Lacostpts:</strong>
  <%= @balance.lacostpts %>
</p>

<p>
  <strong>Accostpts:</strong>
  <%= @balance.accostpts %>
</p>

<p>
  <strong>Cxcostpts:</strong>
  <%= @balance.cxcostpts %>
</p>

<p>
  <strong>Brcostpts:</strong>
  <%= @balance.brcostpts %>
</p>

<p>
  <strong>Eycostpts:</strong>
  <%= @balance.eycostpts %>
</p>

<p>
  <strong>Afcostpts:</strong>
  <%= @balance.afcostpts %>
</p>

<p>
  <strong>Gacostpts:</strong>
  <%= @balance.gacostpts %>
</p>

<p>
  <strong>Mhcostpts:</strong>
  <%= @balance.mhcostpts %>
</p>

<p>
  <strong>Qfcostpts:</strong>
  <%= @balance.qfcostpts %>
</p>

<p>
  <strong>Qrcostpts:</strong>
  <%= @balance.qrcostpts %>
</p>

<p>
  <strong>Tgcostpts:</strong>
  <%= @balance.tgcostpts %>
</p>

<p>
  <strong>Vscostpts:</strong>
  <%= @balance.vscostpts %>
</p>

<p>
  <strong>Azcostpts:</strong>
  <%= @balance.azcostpts %>
</p>

<p>
  <strong>Nhcostpts:</strong>
  <%= @balance.nhcostpts %>
</p>

<p>
  <strong>Amcostpts:</strong>
  <%= @balance.amcostpts %>
</p>

<p>
  <strong>Lycostpts:</strong>
  <%= @balance.lycostpts %>
</p>

<p>
  <strong>Hacostpts:</strong>
  <%= @balance.hacostpts %>
</p>

<p>
  <strong>Ibcostpts:</strong>
  <%= @balance.ibcostpts %>
</p>

<p>
  <strong>Vxcostpts:</strong>
  <%= @balance.vxcostpts %>
</p>

<p>
  <strong>Abcostpts:</strong>
  <%= @balance.abcostpts %>
</p>

<p>
  <strong>Cacostpts:</strong>
  <%= @balance.cacostpts %>
</p>

<p>
  <strong>Nzcostpts:</strong>
  <%= @balance.nzcostpts %>
</p>

<p>
  <strong>Ozcostpts:</strong>
  <%= @balance.ozcostpts %>
</p>

<p>
  <strong>Mucostpts:</strong>
  <%= @balance.mucostpts %>
</p>

<p>
  <strong>Czcostpts:</strong>
  <%= @balance.czcostpts %>
</p>

<p>
  <strong>Ekcostpts:</strong>
  <%= @balance.ekcostpts %>
</p>

<p>
  <strong>G3costpts:</strong>
  <%= @balance.g3costpts %>
</p>

<p>
  <strong>Hucostpts:</strong>
  <%= @balance.hucostpts %>
</p>

<p>
  <strong>Jlcostpts:</strong>
  <%= @balance.jlcostpts %>
</p>

<p>
  <strong>Lhcostpts:</strong>
  <%= @balance.lhcostpts %>
</p>

<p>
  <strong>Svcostpts:</strong>
  <%= @balance.svcostpts %>
</p>

<p>
  <strong>Vacostpts:</strong>
  <%= @balance.vacostpts %>
</p>

<%= link_to 'Edit', edit_balance_path(@balance), class: 'btn btn-primary' %> |
<%= link_to 'Back', balances_path, class: 'btn btn-primary' %>
