<h1>New transfer rate</h1>

<%= @transferrate %>
<%= form_for :transferrate, url: transferrates_path do |tr| %>

  <% if @transferrate.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@transferrate.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @transferrate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form' %>
  
<% end %>

<%= link_to 'Back', transferrates_path %>