<p id="notice"><%= notice %></p>

<p>
  <strong>Transferringprogram:</strong>
  <%= @rate.transferringprogram %>
</p>

<p>
  <strong>Transfereeprogram:</strong>
  <%= @rate.transfereeprogram %>
</p>

<p>
  <strong>Transferratio:</strong>
  <%= @rate.transferratio %>
</p>

<p>
  <strong>Transfernotes:</strong>
  <%= @rate.transfernotes %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
