<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
  <title>TralueDev1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <div class="nav">
  <h1><%= link_to "Tralue", root_path %></h1>
  <ul class="btn-group custom-nav-bar">
    <li>
      <%= link_to "Credit cards", creditcards_path, class: 'btn btn-primary' %>
    </li>
    <li>
      <%= link_to "Trips", trips_path, class: 'btn btn-primary' %>
    </li>
    <% if logged_in %>
      <% #if logged_in?
      %>
      <li>
        <%= link_to "Sign out", logout_path, class: 'btn btn-primary' %>
      </li>
      <% if session[:user_id] == 1 %>
        <li>
          <%= link_to "Rates", rates_path, class: 'btn btn-primary' %>
        </li>
        <li>
          <%= link_to "Users", users_path, class: 'btn btn-primary' %>
        </li>
      <% end %>
    <% else %>
      <li>
        <%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary' %>
      </li>
      <li>
        <%= link_to "Sign up", new_user_path, class: 'btn btn-primary' %>
      </li>
    <% end %>
  </ul>
  
  <br class="clear" />
  </div>
</head>
<body>

<%= yield %>

</body>
</html>
